@import 'basic/normalize'
@import 'font-awesome-sprockets'
@import 'font-awesome'

$content-width: 800px !default
$font-family-sans-serif: 'Open Sans', helvetica, arial, 'Heiti TC', 'Microsoft YaHei', sans-serif
$font-family-serif: Georgia, Cambria, 'Times New Roman', Times, 'Hiragino Sans GB', 'Heiti TC', '微軟正黑體', 'Microsoft JhengHei', serif
$font-family-code: 'Source Code Pro', monospace
$font-family-title: $font-family-serif
$font-family-content: $font-family-serif
$font-family-hint: $font-family-code

$c-main: #235A82
$c-second: #4CB1AC

$c-grey:       #828282
$c-grey-light: lighten($c-grey, 40%)
$c-grey-dark:  darken($c-grey, 25%)

=block-center($width)
  width: $width
  margin-left: auto
  margin-right: auto
$font-size: 14px
$font-size-m: 20px
$font-size-l: 28px
$line-height: 1.8

$basic-unit: $font-size * $line-height

@function bu($number: 1)
  @return $number * $basic-unit

*,
*:after,
*:before
  box-sizing: border-box

body
  font-family: $font-family-content
  margin: 0
  font-size: 16px
  line-height: 1.8

h1, h2, h3, h4
  margin-top: 0
  margin-bottom: 0

#header
  +block-center($content-width)
  display: block
  overflow: auto
  #left-block
    display: block
    width: $content-width * 7/10
    padding: 28.8px
    float: left
    background-color: $c-main
    @media print
      -webkit-print-color-adjust: exact
    .name
      color: #FDFDFD
      color: 32px
  #right-block
    display: block
    width: $content-width * 3/10
    float: right
    .info
      list-style: none
      padding: 0
      padding-left: 12px
      margin: 0
      .info-item
        color: $c-grey
        font-family: $font-family-sans-serif
        .fa
          width: 20px
          text-align: center
          color: $c-main

#content
  +block-center($content-width)
  display: block

.section
  display: block
  margin: bu(1) 0
  .section-title
    display: block
    position: relative
    color: lighten($c-main, 10%)
    font-family: $font-family-title
    font-weight: bold
    margin-top: bu() / 2
    margin-bottom: bu()
    &::after
      content: ''
      display: block
      width: 100%
      height: 2px
      background-color: lighten($c-main, 10%)
      @media print
        -webkit-print-color-adjust: exact
    &::before
      content: attr(title)
      display: block
      position: absolute
      left: bu(2)
      top: - bu() / 2
      padding-left: 16px
      padding-right: 16px
      background-color: #FFF

  .section-body
    display: block
    padding: 0 16px

    .title
      display: block
      position: relative
      font-size: $font-size-m
      font-weight: bold
      line-height: 32px
      margin-top: bu(0.7)
      margin-bottom: bu(0.3)
      .date
        display: inline-block
        position: absolute
        right: 0
        color: $c-grey
        font-size: $font-size
        line-height: 32px
        font-family: $font-family-code
        font-weight: 200

    .content
      color: #333
      h3
        font-size: $font-size
        color: #555
      p, ul
        margin-top: bu(0.2)
        margin-bottom: bu(0.3)
    a
      color: $c-main
      text-decoration: none
      &:hover
        color: darken($c-main, 10%)
    .external-link
      display: inline-block
      margin-left: bu()
      a
        font-size: 14px
        margin-left: bu(0.5)

.inline-tech
  font-size: 14px
  font-family: $font-family-hint
  color: $c-grey
  .label
    display: inline-block
    position: relative
    height: 16px
    line-height: 16px
    font-size: 14px
    font-family: $font-family-hint
    padding: 0 5px
    background-color: #4CB1AC
    color: #FFF
    overflow: auto
    @media print
      -webkit-print-color-adjust: exact
    &:after
      display: block
      position: absolute
      width: 16px
      right: -16px
  ul
    display: inline-block
    list-style: none
    margin: 0 !important
    padding: 0
    li
      display: inline
      float: left
      margin-left: 4px
      margin-right: 4px
      height: 16px
      line-height: 16px
      font-size: 14px
      &:after
        display: inline-block
        content: '/'
        position: relative
        left: 5px
      &:last-child:after
        display: none
