.inline-tech
  line-height: 1
  font-family: $font-family-hint
  color: $c-grey
  .label
    display: inline-block
    position: relative
    height: 16px
    padding: 0 5px
    overflow: hidden
    background-color: $c-grey-light
    color: $c-grey
    line-height: 16px
    font-size: 14px
    font-family: $font-family-hint
    @media print
      -webkit-print-color-adjust: exact
    &:after
      display: block
      position: absolute
      width: 16px
      right: -16px
  ul
    display: inline-block
    list-style: none
    margin: 0 !important
    padding: 0 !important
    li
      display: inline
      float: left
      margin-left: 4px
      margin-right: 4px
      height: 16px
      line-height: 16px
      font-size: 14px
      &:after
        display: inline-block
        content: '/'
        position: relative
        left: 5px
      &:last-child:after
        display: none
